/* your css code goes here */


/* -------------------------------------
CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

h1 {
    color: white;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    padding: 1em;
}

span {
    padding-top: 2em;
}

h2 > span {
    margin: 0.5em;
}

form {
    display: block;
    margin-bottom: 1em;
}

.navbar {
    width: 100%;
}

.navbar-header {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
}

.dropdown {
    position: relative;
    width: 60%;
}

.container {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    border-radius: 5px;
}

.selectedMonthandYear {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    background-color: slategray;
    border-radius: 5px;
}

.calendar {
    margin-top: 2em;
    border-radius: 5px;
}

.day {
    width: 14%;
    height: 50px;
    border: 1px solid black;
    float: left;
    position: relative;
}

.day.previous-or-next-month {
    background-color: slategray;
    color: azure;
}

.day.highlight-current-date {
    background-color: yellow;
    color: red;
}

.day.header {
    font-weight: bolder;
    background-color: black;
    color: white;
    padding-top: 1em;
    border: 1px solid white;
}

.day.day {
    padding-top: 1em;
}


/* Keep form class from re-sizing at smaller browser sizes*/

@media (min-width: 368px) {
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}
